# Tabular Models

In [2]:
from fastai.tabular import *

In [3]:
path = untar_data(URLs.ADULT_SAMPLE)

In [4]:
path

PosixPath('/home/jupyter/.fastai/data/adult_sample')

In [5]:
path.ls()

[PosixPath('/home/jupyter/.fastai/data/adult_sample/export.pkl'),
 PosixPath('/home/jupyter/.fastai/data/adult_sample/adult.csv'),
 PosixPath('/home/jupyter/.fastai/data/adult_sample/models')]

In [6]:
df = pd.read_csv(path/'adult.csv')

In [7]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,49,Private,101320,Assoc-acdm,12.0,Married-civ-spouse,NaN,Wife,White,Female,0,1902,40,United-States,>=50k
1,44,Private,236746,Masters,14.0,Divorced,Exec-managerial,Not-in-family,White,Male,10520,0,45,United-States,>=50k
2,38,Private,96185,HS-grad,NaN,Divorced,NaN,Unmarried,Black,Female,0,0,32,United-States,<50k
3,38,Self-emp-inc,112847,Prof-school,15.0,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,United-States,>=50k
4,42,Self-emp-not-inc,82297,7th-8th,NaN,Married-civ-spouse,Other-service,Wife,Black,Female,0,0,50,United-States,<50k

In [12]:
dep_var = 'salary'
cat_names = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race']
cont_names = ['age', 'fnlwgt', 'education-num']
procs = [FillMissing, Categorify, Normalize]

In [13]:
test = TabularList.from_df(df.iloc[800:1000].copy(), path=path, cat_names=cat_names, cont_names=cont_names)

In [14]:
data = (TabularList.from_df(df, path=path, cat_names=cat_names, cont_names=cont_names, procs=procs)
       .split_by_idx(list(range(800,1000)))
       .label_from_df(cols=dep_var)
       .add_test(test)
       .databunch())

In [17]:
data.show_batch(rows=10)

In [18]:
learn = tabular_learner(data, layers=[200, 100], metrics=accuracy)

In [19]:
learn.fit(epochs=1, lr=1e-2)

## Inference

In [20]:
df.iloc[0]

age                                49
workclass                     Private
fnlwgt                         101320
education                  Assoc-acdm
education-num                      12
marital-status     Married-civ-spouse
occupation                        NaN
relationship                     Wife
race                            White
sex                            Female
capital-gain                        0
capital-loss                     1902
hours-per-week                     40
native-country          United-States
salary                          >=50k
Name: 0, dtype: object

In [21]:
learn.predict(df.iloc[0])

(<fastai.core.Category at 0x7f867c78bd30>, tensor(1), tensor([0.4527, 0.5473]))

In [29]:
data.classes

['<50k', '>=50k']